#placeholder_picture_angle  {
    margin: auto;
    padding: 0px;
    z-index: 3000;
    width: 15%;
}
#small_picture_name {
    top: 0;
    position: absolute;
    z-index: 4000;
}
#low_measurement p {
    color: blue;
    left: 1%;
    bottom: 3%;
    position: absolute;
    z-index: 4000;
}
#placeholder_picture_angle img{
    margin: auto;
    width: 100%;
    height: 100%;
}