#capture {
    position: absolute;
    left: 100px;
    top: 350px;
}
#draggable {
    position: absolute;
    left: 100px;
    top: 350px;
}
#webcam-container   {
    border: 1px solid white;
    height: 402px;
}
.webcam    {
    height: 400px;
    z-index: -1;
}

.line    {
    position: absolute;
    width: 5px;
    height: 398px;
}
#left-line  {
    border-left: 2.5px dashed  rgb(99, 219, 99);
    /*visibility: hidden;*/
}
#right-line  {
    border-left: 2.5px dashed  lightskyblue;
    /*visibility: hidden;*/
}
#webcam-frame {
    border-left: 6px solid green;
    height: 4000px;
}