#capture {
    position: absolute;
    left: 100px;
    top: 430px;
    z-index: 3000;
}
#draggable {
    position: absolute;
    left: 100px;
    top: 350px;
}
.handle {
    z-index: 3000;
}
#webcam-container   {
    
}
#MeasurementContainer_box   {
    margin-top: 10%;
    padding: 5%;
    background-color: rgb(247, 246, 245);
    z-index: 1000;
}

.webcam    {
    border: 1px solid rgb(168, 164, 164);
    z-index: 2000;
}
.X  {
    cursor: crosshair;
}

.line    {
    cursor: col-resize;
    position: absolute;
    width: 5px;
    height: 478px;
    z-index: 3000;
}
#left-line  {
    border-left: 2.5px dashed  rgb(99, 219, 99);
}
#right-line  {
    border-left: 2.5px dashed  lightskyblue;
}
#left-X {
    position: absolute;
    color: rgb(99, 219, 99);
}
#right-X  {
    position: absolute;
    color:  lightskyblue;
}
#webcam-frame {
    border-left: 6px solid green;
    height: 4000px;
}